<%- include('partials/header'); -%>

<header>
  <div class="box">
    <div class="smoothie">
      <img src="https://cdn.iconscout.com/icon/free/png-256/free-nissan-5-202859.png" alt="">
    </div>
    <div class="headings">
      <div class="bq">
        <h2>Nissan</h2>
        <h3>Vehicles</h3>
      </div>
      <a href="/smoothies" class="btn">View Recipes</a>
    </div>
  </div>
  <div class="gtr">
  </div>
</header>

<%- include('partials/footer'); -%>