<%- include('partials/header'); -%>

<div class="container">
  <img
    src="https://purepng.com/public/uploads/large/purepng.com-nissan-logonissannissan-motorautomobile-manufactureryokohamanissan-logo-17015275285920rpml.png"
    alt=""
  />
  <ul class="recipes">
    <li class="recipe">
      <div class="img1"></div>
      <h4>Nissan</h4>
      <p>Skyline GT-R (PGC-10) 1969-1972</p>
    </li>
    <li class="recipe">
      <div class="img2"></div>
      <h4>Nissan</h4>
      <p>Skyline GT-R (KPGC-10) 1971-1972</p>
    </li>
    <li class="recipe">
      <div class="img3"></div>
      <h4>Nissan</h4>
      <p>Skyline GT-R (C110) 1972-1973</p>
    </li>
    <li class="recipe">
      <div class="img4"></div>
      <h4>Nissan</h4>
      <p>Skyline GT-R (R32) 1989-1994</p>
    </li>
    <li class="recipe">
      <div class="img5"></div>
      <h4>Nissan</h4>
      <p>Skyline GT-R (R33) 1995-1998</p>
    </li>
    <li class="recipe">
      <div class="img6"></div>
      <h4>Nissan</h4>
      <p>Skyline GT-R V-Spec (R34) 1999-2002</p>
    </li>
    <li class="recipe">
      <div class="img7"></div>
      <h4>Nissan</h4>
      <p>GT-R (R35) 2007-2011</p>
    </li>
    <li class="recipe">
      <div class="img8"></div>
      <h4>Nissan</h4>
      <p>2024 Nissan GT-R Nismo</p>
    </li>
    <li class="recipe">
      <div class="img9"></div>
      <h4>Nissan</h4>
      <p>370z Nismo 2014-Present</p>
    </li>
  </ul>
</div>

<%- include('partials/footer'); -%>
